@media (width < 1024px) {
  .util-desktop-text {
    display: none;
  }
}

@media (width >=1024px) {
  .util-mobile-text {
    display: none;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #333;
}

.wrapper {
  margin: auto;
  width: 256px;
}

@media (width >=1024px) {
  .wrapper {
    width: 928px;
  }
}

.medical-services {
  overflow: hidden;
  padding: 24px 0 16px;
}

.medical-services__title {
  padding-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #292D3A;
}

.medical-services__service-card-container {
  display: flex;
  width: 664px;
  gap: 8px;
}

.medical-services__service-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  padding: 28px 32px 32px 32px;
  width: 216px;
  height: 240px;
  transition: margin 100ms linear;
}

#medical-services__service-card--1 {
  background-image: url(./images/Rectangle3.3.webp);
}

#medical-services__service-card--2 {
  background-image: url(./images/Rectangle3.4.webp);
}

#medical-services__service-card--3 {
  background-image: url(./images/Rectangle3.5.webp);
}

.medical-services__service-card-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.medical-services__service-card-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.medical-services__service-card-button {
  background-color: #F26531;
  border-radius: 20px;
  border: none;
  padding-inline: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

@media (width >=1024px) {
  .medical-services {
    padding: 40px 0 24px 0;
  }

  .medical-services__title {
    padding-bottom: 44px;
    font-size: 30px;
  }

  .medical-services__service-card-container {
    overflow: auto;
    width: 100%;
    gap: 16px;
  }

  .medical-services__service-card {
    margin-left: 0 !important;
    padding: 32px 35px 40px 40px;
    width: 298px;
    height: 280px;
  }

  .medical-services__service-card-title {
    font-size: 24px;
  }

  .medical-services__service-card-description {
    font-size: 16px;
  }

  .medical-services__service-card-button {
    font-size: 13px;
    padding-inline: 20px;
    max-width: none;
  }

  #medical-services__service-card--3 .medical-services__service-card-button {
    width: 160px;
  }
}

.other-medical-services {
  padding: 16px 0;
}

.other-medical-services__title {
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  color: #292D3A;
  opacity: 0.2;
  padding-bottom: 20px;
}

.other-medical-services__service-list--desktop {
  display: none;
}

.other-medical-services__service-list {
  list-style-type: none;
  padding-bottom: 20px;
}

.other-medical-services__service-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: #292D3A;
}

.other-medical-services__separator {
  margin-inline: 10px;
  color: #eaeaeb;
}

.other-medical-services__service-item--span-color {
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: #F26531;
}

.other-medical-services__link {
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  color: #007934;
  text-decoration: none;
}

@media (width >=1024px) {
  .other-medical-services {
    padding: 24px 0;
  }

  .other-medical-services__title {
    font-size: 11px;
    padding-bottom: 16px;
  }

  .other-medical-services__service-list--desktop {
    display: block;
    width: 642px;
    padding-bottom: 16px;
  }

  .other-medical-services__service-list {
    display: none;
  }

  .other-medical-services__service-item {
    font-size: 16px;
    line-height: 32px;
  }

  .other-medical-services__service-item--span-color {
    font-size: 16px;
  }

  .other-medical-services__link {
    font-size: 16px;
  }
}

.additional-services {
  padding: 16px 0 32px 0;
}

.additional-services__service-card-container {
  display: flex;
  flex-direction: column;
}

.additional-services__service-card {
  padding: 16px 16px 16px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.additional-services__service-card:nth-child(odd) {
  background-color: #fbf7e6;
}

.additional-services__service-card:nth-child(even) {
  background-color: #fdfbf2;
}

.additional-services__service-image {
  display: block;
  max-width: 80px;
}

.additional-services__service-text {
  display: flex;
  flex-direction: column;
}

.additional-services__service-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #007934;
}

.additional-services__service-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #292D3A;
}

@media (width >=1024px) {
  .additional-services {
    padding: 24px 0 48px 0;
  }

  .additional-services__service-card-container {
    flex-direction: row;
  }

  .additional-services__service-card {
    flex-direction: column;
    gap: 20px;
    padding: 28px 16px 40px;
    width: 185px;
    height: 265px;
  }

  .additional-services__service-image {
    display: block;
    max-width: 80px;
  }

  .additional-services__service-text {
    display: flex;
    flex-direction: column;
  }

  .additional-services__service-title {
    font-size: 14px;
    text-align: center;
  }

  .additional-services__service-description {
    font-size: 14px;
    text-align: center;
  }
}
